{% extends 'base.html.twig' %}

{% block title %}404 not found{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1>404 Not Found</h1>
                <p>The page you requested could not be found.</p>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}
